.ContCons{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 90vh;
}


.BodyCons{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: calc(68vh - 15px);
    justify-content: space-evenly;
}

.Tt1Cons{
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    align-items: center;
}


.boxCons{
    display: flex;
    flex-direction: column;
    width: 85vw;
    height: 45vh;
    background-color: rgb(85, 136, 177);
    margin-top: 15px;
    margin-bottom: 15px;
}

.TtsCons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 63vw;
    height: 4vh;
    margin-left: 150px;
    margin-top: 6px;
    margin-bottom: 4px;
}

.BoxForms{
    display: flex;
    
}

        .geralCons{
            display: flex;
            flex-direction: column;
            width: 40vw;
            height: 35vh;
            background-color: rgb(70, 102, 128);
            margin-left: 15px;
        }

                .lineForm1{
                    display: flex;
                    flex-direction: row;
                    margin-top: 15px;
                }

                        .nameCons{
                            width: 12vw;
                            margin-left: 10px;
                        }
                        

                        .dateCons{
                            width: 12vw;
                            margin-left: 20px;
                        }

                        .date{
                            height: 6vh;
                            width: 200px;
                        }
                

                .lineForm2{
                    display: flex;
                    flex-direction: row;
                    margin-top: 10px;
                }


                                
                        .servCons{
                            width: 15vw;
                            margin-left: 10px;
                        }

                        .drCons{
                            width: 10vw;
                            margin-left: 20px;
                        }
                        

                        
                        .sitCons{
                            width: 10vw;
                            margin-left: 20px;
                        }



                .lineForm4{
                    display: flex;
                    width: 40vw;
                    height: 15vh;
                    justify-content: center;
                    align-items: center;
                    margin-left: 15px;
                }


                        .btn{
                            margin-right: 35px;
                            width: 15vw;
                        }



        .pagmCons{
            display: flex;
            flex-direction: column;
            width: 41vw;
            height: 35vh;
            background-color: rgb(70, 102, 128);
            margin-left: 22px;
        }


              
                .linePag1{
                    display: flex;
                    flex-direction: row;
                    margin-top: 15px;
                }


                          .formPag{
                            display: flex;
                            flex-direction: column;
                            width: 20vw;
                            margin-left: 10px;
                        }

                        
                                .sub{
                                    width: 10vw;
                                }
                

                .linePag2{
                    display: flex;
                    flex-direction: row;
                    margin-top: 10px;
                }


                        .formDescont{
                            display: flex;
                            flex-direction: column;
                            margin-left: 10px;
                        }

                                .desc{
                                    width: 12vw ;
                                }


                        
                        .formTotal{
                            display: flex;
                            flex-direction: column;
                            margin-left: 110px;
                        }

                                .tota{
                                    width: 12vw;
                                }

                .linePag3{
                    display: flex;
                    width: 40vw;
                    height: 15vh;
                    justify-content: center;
                    align-items: center;
                    margin-left: 30px;
                }
.spanTitleConsulta{
    font-size: 18px;
    cursor: pointer;
}

.spanTitleConsulta > span:hover{
    color: blue;
}
.semConsultasAgendadas{
    text-align: center;
    margin-top: -35%;
}     