.ContCons{
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    min-height: 90vh;
    color: white;
}


.BodyCons{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
    min-height: calc(68vh - 15px);
    justify-content: space-evenly;
}

.Tt1Cons{
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    align-items: center;
    color: black;
}


.boxCons{
    display: flex;
    flex-direction: column;
    width: 85vw;
    height: 45vh;
    background-color: rgb(85, 136, 177);
    margin-top: 15px;
    margin-bottom: 15px;
}

.TtsCons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 63vw;
    height: 4vh;
    margin-left: 150px;
    margin-top: 6px;
    margin-bottom: 4px;
}

.BoxForms{
    display: flex;
}

        .geralCons{
            display: flex;
            flex-direction: column;
            width: 40vw;
            height: 35vh;
            background-color: rgb(70, 102, 128);
            margin-left: 15px;
            justify-content: space-around;
        }

                .lineForm1{
                    display: flex;
                    flex-direction: row;
                    height: 10vh;
              
                }

                        .nameCons{
                            width: 14vw;
                            margin-left: 10px;
                        }
                        

                        .dateCons{
                            width: 12vw;
                            margin-left: 20px;
                           
                        }

                        .date{
                            
                            width: 200px;
                            border-radius: 5px;
                        }

                

                .lineForm2{
                    display: flex;
                    flex-direction: row;

                    height: 10vh;
                }


                                
                        .servCons{
                            width: 15vw;
                            margin-left: 10px;
                        }

                        .drCons{
                            width: 10vw;
                            margin-left: 20px;
                        }
                        

                        
                        .sitCons{
                            width: 10vw;
                            margin-left: 20px;
                        }



                .lineForm4{
                    display: flex;
                    width: 40vw;
                    height: 10vh;
                    justify-content: center;
                    align-items: center;
          
                }


                        .btn{
                            margin-right: 35px;
                            width: 15vw;
                        }



        .pagmCons{
        display : flex;
        flex-direction : column;
        width : 40vw;
        height : 35vh;
        background-color : rgb(70, 102, 128);
        margin-left : 20px;
        justify-content : space-around;

        }


              
                .linePag1{
                    display: flex;
                    flex-direction: row;
                    height: 10vh;
                    width: 100%;
                }


                          .formPag{
                            display: flex;
                            flex-direction: column;
                            width: 20vw;
                            margin-left: 10px;
                            
                            
                        }

                        
                                .subTot{
                                    width: 10vw;
                                
                                }

                                .formSub{
                                    display: flex;
                                    flex-direction: column;
                                    
                                    width: 135px;
                                    margin-left: 0px;
                                }
                

                .linePag2{
                    display: flex;
                    flex-direction: row;
                    height: 10vh;
                    width: 100%;
                    margin-top: -5%;
                  
                }


                        .formDescont{
                            display: flex;
                            flex-direction: column;
                            margin-left: 10px;
                        }

                                .desc{
                                    width: 10vw ;
                                }


                        
                        .formTotal{
                            display: flex;
                            flex-direction: column;
                            margin-left: 110px;
                        }

                                .tota{
                                    width: 12vw;
                                }

                .linePag3{
                    display: flex;
                    width: 40vw;
                    height: 10vh;
                    justify-content: center;
                    align-items: center;
                    margin-top: -6%;
           
                }
.ButtTitleConsulta{
    display: flex;
    font-size: 18px;
    cursor: pointer;
}

.ButtTitleConsulta > span:hover{
    color: blue;
}
.semConsultasAgendadas{
    text-align: center;
    margin-top: -40%;
    color: black;
}     
.totMesColor{
    color: white;
    font-size: 15px;
    margin-left: -5px;
    width: 1000px;
}

.buttonnn{
    color: white;
    background-color: #007bff;
    box-shadow: 2px 2px 2px #004792;
 
}