.ContCons{
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    min-height: 90vh;
    color: white;
}


.BodyCons{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
    min-height: calc(68vh - 15px);
    margin-top: 20px;
}

.backVoltar{
  
    height: 10vh;
    display: flex;
    margin-left:5%;
    width: 95%;
}

.display-23{
    padding-bottom: 5vh;
}

.Tt1Cons{
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    align-items: center;
    color: black;
}

        


.boxCons{
    display: flex;
    flex-direction: column;
    width: 85vw;
    height: 50vh;
    background-color: rgb(85, 136, 177);
    margin-top: 15px;
    margin-bottom: 15px;
}

.TtsCons{
    display: flex;
    justify-content: space-between;
    color: white;
    width: 63vw;
    height: 4vh;
    margin-left: 150px;
    margin-bottom: 7px;    
}

.btAgend{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    margin-top: 20px;
}

            .btnCadr{
                display: flex;
                justify-content: center;
                width: 25vw;
                height: 9vh;
                font-weight: bold;
                color: #4a9df7;
                border-color: #61a4ec;
                border-width: 3px;
                border-radius: 10px;
            }

            .btnCadr:hover{
                background-color: #61a4ec;
                color: white;
                border-color: white;
                border-radius: 10px;
            }

            .btnCadr h5{
                margin-top: 5px;
            }

.BoxForms{
    display: flex;    
}

        .geralCons{
            display: flex;
            flex-direction: column;
            width: 40vw;
            height: 40vh;
            background-color: rgb(70, 102, 128);
            margin-left: 15px;
            justify-content: space-around;
            margin-top: 10px;
        }

                .lineForm1{
                    display: flex;
                    flex-direction: row;
                    height: 10vh;
              
                }

                        .nameCons{
                            width: 14vw;
                            margin-left: 10px;
                        }
                        

                        .dateCons{
                            width: 12vw;
                            margin-left: 35px;                           
                        }

                        .date{
                            
                            width: 200px;
                            border-radius: 5px;
                        }

                

                .lineForm2{
                    display: flex;
                    flex-direction: row;
                    height: 10vh;
                }


                                
                        .servCons{
                            width: 15vw;
                            margin-left: 10px;
                        }

                        .drCons{
                            width: 10vw;
                            margin-left: 20px;
                        }
                        

                        
                        .sitCons{
                            width: 10vw;
                            margin-left: 20px;
                        }



                .lineForm4{
                    display: flex;
                    width: 40vw;
                    height: 10vh;
                    justify-content: center;
                    align-items: center;
          
                }


                        .btn{
                            margin-right: 35px;
                            width: 15vw;
                        }



        .pagmCons{
        display : flex;
        flex-direction : column;
        width : 40vw;
        height : 40vh;
        background-color : rgb(70, 102, 128);
        margin-left : 20px;
        margin-top: 10px;
        }


              
                .linePag1{
                    display: flex;
                    flex-direction: row;
                    height: 10vh;
                    width: 100%;                    
                    margin-top: 10px;
                }


                          .formPag{
                            display: flex;
                            flex-direction: column;
                            width: 20vw;
                            margin-left: 10px;
                            
                            
                        }
                        

                                .formSub{
                                    display: flex;
                                    flex-direction: column;                                                                
                                    width: 135px;
                                    margin-left: 0px;
                                }

                                    
                                .subTot{
                                    width: 10vw;                                
                                }


                                        .totalPorMesAgendar{
                                            margin-top: 30px;                                            
                                        }                                
                

                .linePag2{
                    display: flex;
                    flex-direction: row;
                    height: 10vh;
                    width: 100%;
                    margin-top: 25px;
                }


                        .formDescont{
                            display: flex;
                            flex-direction: column;
                            margin-left: 10px;
                            height: 10vh;
                            
                        }

                                .desc{
                                    width: 10vw;
                                }


                        
                        .formTotal{
                            display: flex;
                            flex-direction: column;
                            margin-left: 140px;
                        }

                                .tota{
                                    width: 10vw;
                                }

                .linePag3{
                    display: flex;
                    width: 40vw;
                    height: 10vh;
                    justify-content: center;
                    align-items: center;                      
                    margin-top: 15px;
                }

                        .buttPag{
                            display: flex;
                        }


.ButtTitleConsulta{
    display: flex;
    font-size: 18px;
    cursor: pointer;
}

.ButtTitleConsulta > span:hover{
    color: blue;
}
.semConsultasAgendadas{
    text-align: center;
    margin-top: -40%;
    color: black;
}     
.totMesColor{
    color: white;
    font-size: 15px;
    margin-left: -5px;
    width: 1000px;
}

.buttonnn{
    color: white;
    background-color: #007bff;
    box-shadow: 2px 2px 2px #004792;    
}

.fa-check{
    color: black;
    font-size: 25px;
}
