



.fundodev{
    
    
}
.devOne{
    
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    padding-left: 25vh;
    display: flex;
    height: 9vh;
    justify-content: space-between;
 
}

.devTheer{

display: flex;
flex-direction: column;
padding-left: 30vh;
padding-top: 5vh;
font-weight: 900;


}


.fa-hire-a-helper{
    color: whitesmoke;
    margin-top: 2px;



}

.hOne{
    display: flex;
    align-items: center;
    font-size:30px; 
    color: white;

}

.hOne:hover{

    color: white;

}


.RedesDev{
    display: flex;
    justify-content: center;
    height: 100%;
    padding-right: 10vh;
    
    
}



.rOne img{
    border-radius: 40%;
    width: 40px;
    height: 40px;
    margin: 10px;
    background-color:rgb(231, 231, 231);
    cursor: pointer;
}

.ttOne img{

  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin: 10px;
  background-color: rgb(231, 231, 231);
  cursor: pointer;
}

.faceOne img{
  
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin: 10px;
    background-color: rgb(231, 231, 231);
    cursor: pointer;
}

.GbOne img{
    border-radius: 50%;
    width: 55px;
    height: 55px;
    margin-top: 3px;
    background-color: rgb(231, 231, 231);
    cursor: pointer;
    margin-left: 10px;
   
 }

