    
.ContLog{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;

}

     
     .logo{
    display: flex;
    box-shadow: 3px, 3px, 3px  #9BC5D8;
    text-align: center;  
    color:#3FA6D3;
    height: 65px;
    align-items: center;
    justify-content: center;
    width: 100%;
   
  }



  .bodyLogin{
    display: flex;
    height: 85vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #45aaf2;
}

    .back{
        background-image: url("../../Assets/Wallpapers/dental3.jpg");
        background-size: 60em;
        background-repeat: no-repeat;
    }




    .card{
     box-shadow: 2px 2px 2px #3FA6D3;
     background-color:#E3F2FA;
     padding: 50px;
     border-radius: 5px;
     display: flex;
     flex-direction: column;
     height: 55vh;
     width: 40vw;
     justify-content: space-around;
    }


    .card-top{
         color: whitesmoke;
         text-align: center;
         background: #f73131;
         width:40vw;
         margin-left: 350px;
         margin-top: 50px;
        border-radius: 5px;
        box-shadow:2px 2px 2px #3FA6D3; 
    }
     
    .cardlogin >label{
        
        width: auto;
        color: #000000;
        display: block;
    } 

   
    
    
    .cardlogin >input{
        width:70%;
        border-radius: 3px;
        height: 30px;
        outline: 0;
        padding: 7px;
        margin-left: 15%;

    }

    .cardlogin > button {

        background-color: #ff0000;
        width: 70%;
        padding: 2px;
        box-shadow: 2px 2px 2px #5e1818;
        outline: 0;

     }



    .pequenoLogin{

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 32%;
        height: 140px;
        margin-top: 10px;
  
    }

    .pequenoLogin p {
        font-size: 15px;
        margin-bottom: -25px;
    }

    .cardnt{
        width: 15vw;
        margin-left: -45px;
        
    }


    .linkCadastrar :hover{
        
        color: white;
    }

    .linkCadastrar > button{
        display: flex;
        background-color: #f73131;
        width: 70%;
        padding: 2px;
        box-shadow: 2px 2px 2px  #331010;
        justify-content: space-around;
        
    }

    .div_senhaLogin{
        display: flex;
        flex-direction: row;
        height: 80px;
        width: 350px;
        margin-left: 60px;
        color: black;
    }



    .div1_login {
       display: flex;
       flex-direction: column;
       color: black;
       width:  65%;
      
       
    }

    .div1_login > label {
        color: black;
        margin-left: 7vh;
    }


    .div1_login > input{
        width : 115%;
        display: flex;
        border-radius : 3px;
        height : 30px;
        outline : 0;
        padding : 7px;
        
        
        

    }

    .div_icon{
       
        width: 20%;
        height: 100%;
        

    }

    .div_icon > i {
        margin-top: 60px;
        margin-left: 30px;
    }

    
    

    .rodap{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100w;
        height: 10vh;
        color: #007bff;
    }


 