.bodyLogin{
    background-color: #9BC5D8;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

    

     .logo{
    display: flex;
    background-color: whitesmoke;
    box-shadow: 3px, 3px, 3px  #9BC5D8;
    text-align: center;  
    color:#3FA6D3;
    height: 80px;
    align-items: center;
    justify-content: center;
    width: 100%;
   
     
  }



    .form {
        width: 500px;
        margin: auto;
    }

    .card{
     box-shadow: 2px 2px 2px #3FA6D3;
     background-color:#E3F2FA;
     padding: 50px;
     border-radius: 5px;
     display: flex;
    }


    .card-top{
         color: whitesmoke;
         text-align: center;
         background: #ec0000;
         width:500px;
        border-radius: 5px;
        box-shadow:2px 2px 2px #3FA6D3; 
    }
     
    .cardlogin >label{
        
        width: auto;
        color: #000000;
        display: block;


    } 
    
    
    .cardlogin >input{
        width:70%;
        border-radius: 3px;
        height: 30px;
        outline: 0;
        padding: 7px;

    }

    .cardlogin > button {

        width: 100%;
        padding: 2px;

     }



    .pequenoLogin{

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 32%;
        height: 140px;
        margin-top: 10px;
  
    }

    .pequenoLogin p {
        font-size: 15px;
        margin-bottom: -25px;

    }

    .linkCadastrar{
        color: red;
    }

    .linkCadastrar :hover{
        background-color: white;
        color: white;
    }
