     .fundo > div{
    
    display: flex;
    background-color: #9BC5D8;
    margin: 40px 100px 40px 100px;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    justify-content: space-between;
    padding: 40px;
    box-shadow:3px 3px 3px #3FA6D3
    


   }
 
 
 .titulotwo{
    display: flex;
    color: rgb(255, 255, 255);
    text-align: center;
    justify-content: space-around;
    flex-direction: column;
   

   
 }

    .foto{

        width:68%;
        margin-right: 120px;
        
       
        


    }


    
    .botaolindo {
        display: flex;
        width: 70%;
        justify-content: space-between;





    }

    .botaolindo > button{

        width: 250px;
        height: 40px;
        box-shadow: 2px 2px 2px  #ec0000;
        
    }

    .btn_1{
        width : 250px;
        height : 40px;
        box-shadow : 2px 2px 2px #ec0000;
    }
    