.divmon{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    
}


.margOne{
    display: flex;
    background-color:#9BC5D8;
    color: whitesmoke;
    align-items: center;
    width: 80%;
    flex-direction: column;
    align-items: center;
    height:69vh;
    border-radius: 5px
    

    

}

.star{

    display: flex;
    align-items: center;
    background-color: #009FE5;
    justify-content: space-evenly;
    width:40%;
    height:30vh ;
    border-radius:8px
    
}


i {
    color: rgb(223, 189, 0);
    font-size: 55px;

}

    textarea{
    resize: none;
    outline: 2px;
}

    .botao{
    display: flex;
    padding: 5vh;
    background-color: rgb(238, 255, 0);
    align-items: center;
    
}