.divmon{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    
}


.margOne{
    display: flex;
    background-color:#9BC5D8;
    color: black;
    align-items: center;
    width: 80%;
    flex-direction: column;
    align-items: center;
    height:69vh;
    border-radius: 5px;
    justify-content: space-evenly;
    
}

.star{

    display: flex;
    align-items: center;
    background-color: #009FE5;
    justify-content: space-around;
    width:100%;
    height:30vh ;
    border-radius:8px
    
}

.star :hover{
    color: #9BC5D8;
}

.divStarFeedback{
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: center;
}


i {
    color: rgb(223, 189, 0);
    font-size: 55px;

}

    textarea{
    resize: none;
    outline: 2px;
}

    .botao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    
}

.bta2, .bta1{
margin-left: 35px;
}