.divmon{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    
}


.margOne{
    display: flex;
    background-color:#9BC5D8;
    color: black;
    align-items: center;
    width: 80%;
    flex-direction: column;
    align-items: center;
    height:69vh;
    border-radius: 5px;
    justify-content: space-evenly;
    
}

.star{

    display: flex;
    align-items: center;
    background-color: #009FE5;
    justify-content: space-around;
    width:100%;
    height:30vh ;
    border-radius:8px;
    
}

.star :hover{
    color : #ffd900;
    cursor: pointer;
}

.star > ul{
    display: flex;
    width: 110%;
    list-style: none;
    justify-content: space-around;
    margin-left: -10%;
    
}

.divStarFeedback{
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: center;
}


i {
    color: rgb(199, 169, 0);
    font-size: 65px;

}


    textarea{
    resize: none;
}

    .botao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    
}

.bta2, .bta1{
margin-left: 35px;
}
.bta1 {
    margin-left : 35px;
    box-shadow : 2px 2px 2px #8a0000;
}.bta2 
{
    margin-left : 35px;
    box-shadow : 2px 2px 2px #006905;
    background-color : #21c500;
}.bta1 :hover {

    background-color : #910000;

}
