.VerFeedOne{
height: 100%;
background-color: rgb(255, 255, 255);
display: flex;
flex-direction: column;
width: 70vw;
align-items: center;

}

.h2VerFeed{
    display: flex;
    justify-content: center;
    color: #009FE5;
    margin-right: 8vw;
    margin-top: 10px;
}

.Back999{
margin-left: 10vw;
margin-bottom: 5vh;
}


.VerFeedTwo{
    background-color: #9BC5D8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 50vh;
 
    border-radius: 10px;
}
.VerFeedTheer{
    background-color: #009FE5;
    display: flex;
    justify-content: center;
    align-items:center ;
    margin-bottom: 10vh;
    width: 50%;
    border-radius: 10px;
}

.Aval{
    color:rgb(199, 169, 0) ;
    font-size: 55px;
    padding-top:4vh;

}

.Aval:hover{
    color:#ffd900 ;
    cursor: pointer;

}
.starzinnn{
    color: rgb(199, 169, 0);
    font-size: 65px;
    cursor: pointer;

}

.starzinnn:hover{
color: #ffd900;
}

.inputVer{
    width: 70%;
}


.back100{
    color:#009FE5 ;
    cursor: pointer;
    margin-right: 70vw;
}

.back100:hover{
    color: #ffd900;
}

.completoVerFeed{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 82vh;
    position: fixed;
    background-color: rgba(85, 85, 85, 0.61);
}