.containerHomeRelatorio{
    min-height: 82vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 90px;
}

.listaDeRelatorios{
    font-size: 22px;
    text-align: left;
}

.homeRelatarioVoltar{

    margin-top: -6%;
}

.tamanhoBTN{

    margin-top: 1vh;
    width: 30vh;
}
    
.tamanhoBTNone{

    margin-top: 1vh;
    width: 50vh;
}

.h2HomeRela{

    padding-bottom: 20px;
}