  body{
    margin: 0px;
    padding: 0px;
  }



  *{
    box-sizing: border-box;
  }


.Cont{
  display: flex;
  flex-direction: column;
  min-height:290vh;
  max-width: 100vw;
}

    .header{
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      height: 10vh;
      background-image: linear-gradient(to right,rgb(46, 143, 223),rgb(224, 234, 243));
    }
    
    .oogg{
      color: white;
      margin-left: 7vw;
    }

    .Tt1Logo{
      display: flex;
      align-items: center;
      width: 35vw;
      height: 7vh;
      
      text-align: center;
      margin-left: 20px;
    }

    .Tt2Home{
      display: flex;
      align-items: center;
      width: 80vw;
      height: 8vh;
      text-align: center;
      color: white;
    }


    .buttns{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      height: 15vh;
      margin-left: 50px;
      
    }             

      .bt2Login{
        
        font-style: normal;
        background: rgb(235, 42, 42);
        
        
      }


      
/*Carrossel*/

.starHomeONEE{
  background-color:#ffff;
  height: 55vh;
  display: flex;
  background-repeat: no-repeat;
  justify-content: space-between;
}
.starHome{
  background-image: linear-gradient(to right,rgb(46, 143, 223),rgb(224, 234, 243));
  height:100%;
}

.pDoCarrossel1{
  color:white;
  font-weight: 500;
  font-size: 25px;
  padding-left: 20vh;
  padding-top: 5vh;
}

.imgdentista{
  width: 50%;
 
}



.pDoCarrossel{
  color:rgb(46, 143, 223);
  font-weight: 500;
  font-size: 25px;
  padding-left: 20vh;
  padding-top: 5vh;
}

.starHomeTWOO{
  display: flex;
  justify-content: space-between;
  height: 55vh;
  background-color: white;
  background-repeat: no-repeat;
  flex-direction: row-reverse;
}

.imgdenteee{
  width: 45%;
}
/*Imgs na div central*/
.divimg{
  display: flex;
  justify-content: space-around;
  margin-top: 10vh;
  font-size: 17px;
  font-weight: 400;
  color: rgb(68, 68, 68);
  margin-left: 5vh;
  height: 35vh;
  font-weight: 400;
}
.clinica{
  background-image: url(../../Assets/Fotos/1one.png);
  height:25vh;
  background-repeat: no-repeat;
  background-size: 31vh;

  
  
 
}
.pCLinica{
  width:15vw;
  text-align: left;
  
  

}

.onclink {
  width: 15vw;
  height: 0px;
	overflow: hidden;
  transition: height 2.0s;
 
  
}

.clinica:active + .onclink {
  height: 30vh;
  width: 15vw;
  
  
}


.clareamento{
  background-image: url(../../Assets/Fotos/2two.jpg);
height: 25vh;
background-repeat: no-repeat;
background-size: 31vh;

  
}

.clareamento:active + .onclink{
  height: 30vh;
  width: 15vw;
  
}

.proteses{
  background-image: url(../../Assets/Fotos/4four.png);
height: 25vh;
background-repeat: no-repeat;
background-size: 31vh;


}

.proteses:active + .onclink{
  height: 30vh;
  width: 15vw;
  
}

.implante{
  background-image: url(../../Assets/Fotos/5five.png);
height: 25vh;
background-repeat: no-repeat;
background-size: 31vh;

}

.implante:active + .onclink{

  height: 50vh;
  width: 15vw;
  
}


/*anuncios*/

.Anucios{
  display: flex;
  align-items: center;
  margin-top: 15vh;
  width: 100%;
  height: 50vh;
  display: flex;
  color: white;
  
}

/*esqueda em cima*/
.quadradoRight{
  display: flex;
  flex-direction: column;
  background-color:  rgb(62, 73, 82);
  height: 40vh;
  width: 25vw;
  margin-left: 10vh;
  border-radius: 5px;
}

      .Tt1An{
        width: 25vw;
        height: 10vh;
        margin-top: 4vh;
        background-color: rgb(62, 73, 82);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding-left: 3vh;
        
      }
      .pHomee22{
        color: whitesmoke;
        font-size: 30px;
        font-weight: 500;
      }

      
      .Tt2An{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20vw;
        height: 20vh;
        margin-left:35px;
        
      }

    .pHome5{
      color: white;
      font-size: 17px;
      font-weight: 450;
      margin-top: -30px
    }

 
.rightMini{
  display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color:rgb(31, 148, 194);
    width: 80vh;
    height: 30vh;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

      
      .Tt3An{
        display: flex;
        flex-direction: column;
        width: 70vh;
        height: 80%;
        margin-right: 20px;
      }

      .imglogozin{
        display: flex;
        flex-direction: row-reverse;
        padding-right: 3vh;
        
      }


.AnuciosTwo{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction:row-reverse;
  color: white; 
  
}
/*Direita em baixo*/
   .quadradoLeft{
    display: flex;
    flex-direction: column;
    background-color:  rgb(62, 73, 82);
    height: 45vh;
    width: 25vw;
    margin-right: 10vh;
    border-radius: 5px;
   }

        .Tt4An{
          display: flex;
          width: 25vw;
          height: 10vh;
          margin-top: 4vh;
          background-color:  rgb(62, 73, 82);
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          align-items: center;
          
        }

        .pHomee{
          display: flex;
          flex-direction: column;
         padding-left: 2vw;
         color: rgb(223, 223, 223);
         font-size: 20px;
         font-weight: 600;
        }
        

        .imglogozin{
          padding-left: 2vw;
        }

        .Tt5An{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20vw;
        height: 20vh;
        margin-left:35px;
        margin-top: 4vh;
        
        }

        .precoHome1{
          font-size: 23px;
          color:rgb(29, 167, 221) ;
        }
        .precoHome2{
          font-size: 60px;
          color:rgb(12, 180, 247) ;
          font-weight: 600;
        }

        .pHome3{
          color: white;
          font-size: 25px;
          font-weight: 500;
          margin-top: -10px;

        }

        .pHome4{
          color: white;
          font-size: 17px;
          font-weight: 450;
          margin-top: -25px
        }

              
   .LeftMini{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color:rgb(31, 148, 194);
    width: 80vh;
    height: 30vh;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
   }

        .Tt6An{
        display: flex;
        flex-direction: column;
        width: 70vh;
        height: 80%;
        margin-right: 20px;

        }

/*Nosso contato*/
.Nossocontato{
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10vh;
 
}
  
   .NossocontatoTwo{
     
     background-color: rgb(6, 190, 175);
     height: 50vh;
     width: 50%;
     display: flex;
     border-radius: 5px;
     justify-content: center;
     
     
   }
   
  .armazenar{
    display: flex;
    justify-content: space-between;
    padding-left: 2vw;
    flex-direction: column;
    margin-top: 18px;
    background-color: white;
    width: 93%;
    height: 45vh;
    margin-bottom: 2vh;
    border-radius: 5px;
  }

  .teleHome{
    
    color: rgb(6, 190, 175);
    font-weight: 500;
    font-size: 22px;
  }
.h2Homeeee{
  color:rgb(31, 148, 194) ;
  font-size: 17px;
  font-weight: 500;
}
  /*Rodapé*/
  .logo2{
    color: rgb(214, 214, 214);
    margin-top: 15px;
    margin-right: 20px;

  }

  .logo2:hover{
    color: rgb(46, 143, 223);
  }
  
  .cont3{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    height: 70vh;
    background-color: rgb(62, 73, 82);
}

.Box{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 100px;

    height: 100vh;  
}

.Nav img{
    width: 10vw;
    height: 6.5vh;
    margin: 4px;
}

.Nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40vh;
}

.g1,.g2,.g3{
    display: flex;
    flex-direction: column;
    width: 15vw;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 15px;
    color: white;
}
 .l:hover{

  color: rgb(46, 143, 223);
  cursor: pointer;


}




.l1{
    padding: 5px;
    color: rgb(0, 255, 213);
}

.l{
    width: 15vw;
    padding: 5px;
}


.Redes{
    display: flex;
    justify-content: flex-end;
    width: 50vw;
    margin-right: 40px;
    height: 50vh;
}



.r img{
    border-radius: 30%;
    width: 40px;
    height: 40px;
    margin: 10px;
    background-color:rgb(231, 231, 231);
    cursor: pointer;
}

.tt img{

  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin: 10px;
  background-color: rgb(231, 231, 231);
  cursor: pointer;
}

.face img{
  
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin: 10px;
    background-color: rgb(231, 231, 231);
    cursor: pointer;
}


.Rod{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 9vh;
    
    
}

.in{display: flex;
    align-items: center;
    flex-direction: row;
    width: 65vw;
    margin-top:50px;
    cursor: pointer;
}

.p{
    margin: 10px;
    color:rgb(0, 255, 213);
}

.br{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:5px ;
    margin-left: 120px;
    height: 5vh;
    flex-direction: row;

}

.br p{
   
  margin:10px;
}

.br img{
    
  
    width: 40px;
    height: 30px;
    border-radius: 5%;
    margin: 0px;
    
    
}

p{
    padding: 8px;
    color: white;
}

.sla{ 
    display: flex;
    justify-content: flex-end;
  color: rgb(255, 255, 255);
  width: 300px;
  margin-left: -60px;
    
}

.in2 {
  display: flex;
  flex-direction: column;
  margin-top: 3px;
}


.brr{
  color: white;
}

.linkOne{

  color:rgb(0, 255, 213);
}

.linkOne:hover{

  color: rgb(209, 209, 209);
}

.linkOneOne{
  color: white;

}

.linkOneOne:hover{
  color:rgb(46, 143, 223);
}
