  body{
    margin: 0px;
    padding: 0px;
  }

  *{
    box-sizing: border-box;
  }


.Cont{
  display: flex;
  flex-direction: column;
  height:180vh;
  max-width: 100vw;
}

    .header{
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      height: 10vh;
      background-image: linear-gradient(to right,rgb(46, 143, 223),rgb(224, 234, 243));
    }
    

    .Tt1Logo{
      display: flex;
      align-items: center;
      width: 35vw;
      height: 7vh;
      color: white;
      text-align: center;
      margin-left: 20px;
    }

    .Tt2Home{
      display: flex;
      align-items: center;
      width: 80vw;
      height: 8vh;
      text-align: center;
      color: white;
    }


    .buttns{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      height: 15vh;
      margin-left: 50px;
    }             

      .bt1{
        width: 20vw;
        font-style: normal;
        background: #ff0000;
        box-shadow: 2px 2px 2px #5e1818
      }


      .bt2{
        width: 15vw;
        background: #ff0000;
        font-style: normal;
        box-shadow: 2px 2px 2px #5e1818;
      }

  .body{
    display: flex;
    flex-direction: column;
    width: 87vw;
    height: 150vh;
    background-color: rgb(85, 154, 211);
    border-radius: 15px;
    margin: 45px;
    margin-left: 85px;
  }

    .msgs{
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 81vw;
      height: 80vh;
      background-color: white;
      border-radius: 20px;
      margin: 35px;
    }

      .inf{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 32vw;
        height: 65vh;
        margin-left: 10px;
      }

        .local{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items:center;
          width: 30vw;
          height: 30vh;
        }

        .phone{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 30vw;
          height: 30vh;
        }


      .ft{
        width: 50vw;
        height: 43vh;
        border-radius: 20px;
        margin-right: 50px;
        margin-bottom: 50px;
      }

      img{
        width: 35vw;
        height: 50vh;
        border-radius: 10px;
        margin-left: 80px;
      }

    .tab{
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 90vw;
      height: 70vh;
      margin-bottom: 30px;
    }

    .tabinto{
      width: 40vw;
      height: 75vh;
      margin-top: 40px;
      margin-left: 40px;
    }

    .table{
      color: white;
      background-color: rgb(62, 73, 82) ;
      border-radius: 5px;
    }

.h4_tabelaHome{

        align-items: center;
        height: 10vh;
        text-align: center;
        background-color: rgb(62, 73, 82);
        color: white;
        margin-top: 2px;
        border-radius: 5px;
      }


      .box{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 68vh;
        width: 41vw;
        margin-left: 70px;
      }

        .icon1{
          display: flex;
          width: 30vw;
          height: 50vh;
          justify-content: center;
          align-items: center;
          background-color: white;
          border-radius: 10px;
        }


          .icon1 img{
            width: 24vw;
            height: 42vh;
            margin-left: 0px;
          }


          .text2{
            height: 11vh;
            width: 30vw;
            background-color: white;
            margin-top: 27px;
            border-radius:5px;
            text-align: center;
          }

  .foot{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 98.7vw;
    background-image: linear-gradient(to right,rgb(46, 143, 223),rgb(238, 243, 248));
    color: white;
  }

  /*Rodapé*/
  .logo2{
    color: rgb(214, 214, 214);
    margin-top: 15px;
    margin-right: 20px;

  }

  .logo2:hover{
    color: rgb(46, 143, 223);
  }
  
  .cont3{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    height: 70vh;
    background-color: rgb(62, 73, 82);
}

.Box{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 100px;

    height: 100vh;  
}

.Nav img{
    width: 10vw;
    height: 6.5vh;
    margin: 4px;
}

.Nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40vh;
}

.g1,.g2,.g3{
    display: flex;
    flex-direction: column;
    width: 15vw;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 15px;
    color: white;
}
 .l:hover{

  color: rgb(46, 143, 223);
  cursor: pointer;


}




.l1{
    padding: 5px;
    color: rgb(0, 255, 213);
}

.l{
    width: 15vw;
    padding: 5px;
}


.Redes{
    display: flex;
    justify-content: flex-end;
    width: 50vw;
    margin-right: 40px;
    height: 50vh;
}



.r img{
    border-radius: 30%;
    width: 40px;
    height: 40px;
    margin: 10px;
    background-color:rgb(231, 231, 231);
    cursor: pointer;
}

.tt img{

  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin: 10px;
  background-color: rgb(231, 231, 231);
  cursor: pointer;
}

.face img{
  
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin: 10px;
    background-color: rgb(231, 231, 231);
    cursor: pointer;
}


.Rod{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 9vh;
    
    
}

.in{display: flex;
    align-items: center;
    flex-direction: row;
    width: 65vw;
    margin-top:50px;
    cursor: pointer;
}

.p{
    margin: 10px;
    color:rgb(0, 255, 213);
}

.br{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:5px ;
    margin-left: 120px;
    height: 5vh;
    flex-direction: row;

}

.br p{
   
  margin:10px;
}

.br img{
    
  
    width: 40px;
    height: 30px;
    border-radius: 5%;
    margin: 0px;
    
    
}

p{
    padding: 8px;
    color: white;
}

.sla{ 
    display: flex;
    justify-content: flex-end;
  color: rgb(255, 255, 255);
  width: 300px;
  margin-left: -60px;
    
}

.in2 {
  display: flex;
  flex-direction: column;
  margin-top: 3px;
}


.brr{
  color: white;
}

.linkOne{

  color:rgb(0, 255, 213);
}

.linkOne:hover{

  color: rgb(209, 209, 209);
}

.linkOneOne{
  color: white;

}

.linkOneOne:hover{
  color:rgb(46, 143, 223);
}
