body{
    margin: 0px;
    padding: 0px;
}

*{
    box-sizing: border-box;
}

.ContCad{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200vh;
    background-image: linear-gradient(to right,rgb(46, 143, 223),rgb(238, 243, 248));

}

.logohome{
    margin-bottom: 15px;
    color: white;
}

.bodyCad{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 180vh;
    background-color: white;
}


        .Tt1cad{
            display: flex;
            justify-content: center;
            margin-top: 35px;
            font-weight: bold;
        }


        .FormPers{
            display: flex;
            flex-direction: column;
            width: 70vw;
            height: 140vh;
        }

                .Tt2Cad{
                    display: flex;
                    flex-direction: column;
                    margin-top: 40px;
                }

                .obr{
                    color: rgb(167, 59, 59);
                }


                .line1{
                    display: flex;
                    width: 70vw;
                    height: 12vh;
                    margin-top: 50px;
                }

                        .formName{
                            display: flex;
                            flex-direction: column;
                            width: 20vw;
                            height: 15vh;
                        }


                        .formSexo{
                            display: flex;
                            flex-direction: column;
                            width: 20vw;
                            height: 15vh;
                            margin-left: 30px;
                        }

                        .formSexo h5{
                            margin-left: 25px;
                        }

                        .radios{
                            display: flex;
                            align-items: center;
                            width: 20vw;
                            height: 5vh;
                            margin-top: 5px;
                            margin-right: 10px;
                        }


                        .radios h5{
                            margin-left: 5px;
                        }

                        .fem{
                            margin-left: 25px;
                        }


                        .formNasc{
                            margin-left: 40px;
                        }


                .line2{
                    display: flex;
                    width: 70vw;
                    height: 12vh;
                    margin-top: 50px;

                }


                        .formCPF{
                            width: 12vw;
                        }

                        .formCEP{
                            width: 10vw;
                            margin-left: 40px;

                        }

                        .formLograd{
                            margin-left: 45px;

                        }

                        .formNum{
                            width: 6vw;
                            margin-left: 10px;

                        }

                .line3{
                    display: flex;
                    width: 70vw;
                    height: 12vh;
                    margin-top: 50px;
                }

                        .formComple{
                            width: 10vw;
                        }

                        .formCity{
                            margin-left: 70px;
                        }

                        .formState{
                            width: 10vw;
                            margin-left: 25px;
                        }



                .line4{
                    display: flex;
                    width: 70vw;
                    height: 12vh;
                    margin-top: 50px;
                }

                    .formPhone input{
                        width: 12vw;
                    }

        .FormRegist{
            display: flex;
            flex-direction: column;
            width: 70vw;
            height: 70vh;
        }


        .TtReg1{
            color: rgb(46, 143, 223);

        }



                .line5{
                    display: flex;
                    width: 70vw;
                    height: 12vh;
                    margin-top: 20px;
                }

        

                        .formEmail input{
                            width: 18vw;
                        }


                
                .line6{
                    display: flex;
                    width: 70vw;
                    height: 12vh;
                    margin-top: 50px;
                }


                        .formConfiPassw{
                            margin-left: 15px;
                        }


                .line7{
                    display: flex;
                    justify-content: flex-end;
                }

                .line7 .btn{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 13vw;
                }

                .imgconf{
                    width: 3vw;
                    height: 3vh;
                    margin: 2px;
                }

