body{
    margin: 0px;
    padding: 0px;
}

*{
    box-sizing: border-box;
}

.ContCad{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 185vh;
}

.bck{
    background-image: url("../../Assets/Wallpapers/dental.jpg");
}


.bodyCad{
    display: flex;
    flex-direction: column;
    width: 85vw;
    height: 170vh;
    background-color: white;
    border-radius: 30px;
}


        .lineTt1{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 75vw;
            height: 15vh;
            margin-left: 35px;
        }

        .IconBackCad{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 5.5vw;
            height: 11.7vh;
            color: white;
            background-color: #007bff;
            margin-left: 20px;
            border-radius: 50%;
            border-width: 10px;
        }

        .IconBackCad:hover{
            color: #007bff;
            background-color: white;
        }

                .Tt1cad{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 25vw;
                    height: 10vh;
                    font-weight: bold;
                    margin-left: 240px;
                }


                        .imgteeth{
                            width: 6vw;
                            height: 12vh;
                            margin-left: 5px;
                        }


        .FormPers{
            display: flex;
            flex-direction: column;
            width: 75vw;
            height: 90vh;
            background-color: rgb(103, 182, 170);
            border-radius: 10px;
            margin-left: 35px;
            margin-top: 10px;
        }

                .Tt2Cad{
                    display: flex;
                    flex-direction: column;
                    margin-top: 40px;
                    margin-left: 25px;
                }

                .obr{
                    color: rgb(151, 35, 35);
                }


                .line1{
                    display: flex;
                    width: 70vw;
                    height: 12vh;
                    margin-top: 50px;
                    margin-left: 25px;
                }

                        .formName{
                            display: flex;
                            flex-direction: column;
                            width: 20vw;
                            height: 15vh;
                        }


                        .formSexo{
                            display: flex;
                            flex-direction: column;
                            width: 20vw;
                            height: 15vh;
                            margin-left: 30px;
                        }

                        .formSexo h5{
                            margin-left: 25px;
                        }

                        .radios{
                            display: flex;
                            align-items: center;
                            width: 20vw;
                            height: 5vh;
                            margin-top: 5px;
                            margin-right: 10px;
                        }


                        .radios h5{
                            margin-left: 5px;
                        }

                        .fem{
                            margin-left: 25px;
                        }


                        .formNasc{
                            margin-left: 40px;
                        }


                .line2{
                    display: flex;
                    width: 70vw;
                    height: 12vh;
                    margin-top: 50px;        
                    margin-left: 25px;            
                }
                
                
                        .formPhone input{
                            width: 12vw;
                        }

                        .formCPF{
                            width: 12vw;
                            margin-left: 40px;
                        }
                        
                        .formCity{
                            width: 12vw;
                            margin-left: 55px;
                        }

                        .formState{
                            width: 10vw;
                            margin-left: 45px;
                        }

                        

                .line3{
                    display: flex;
                    width: 70vw;
                    height: 12vh;
                    margin-top: 50px;
                    margin-left: 25px;
                }

                        .formCEP{
                            width: 10vw;
                        }

                        .formLograd{
                            width: 15vw;
                            margin-left: 45px;                
                        }

                        .formNum{
                            width: 6vw;
                            margin-left: 70px;

                        }

                        .formComple{
                            width: 10vw;
                            margin-left: 40px;
                        }



                    
.BoxReg{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 75vw;
    margin-left: 35px;
}

        .FormRegist{
            display: flex;
            flex-direction: column;
            width: 50vw;
            height: 50vh;            
            background-color: rgb(103, 182, 170);
            margin-top: 20px;
            border-radius: 10px;
        }


        .TtReg1{
            color: rgb(0, 0, 0);
            margin-left: 25px;
            margin-top: 15px;
        }



                .line5{
                    display: flex;
                    width: 70vw;
                    height: 12vh;
                    margin-top: 20px;
                    margin-left: 25px;
                }

        

                        .formEmail input{
                            width: 18vw;
                        }


                
                .line6{
                    display: flex;
                    width: 70vw;
                    height: 12vh;
                    margin-top: 50px;
                    margin-left: 25px;
                }


                        .formConfiPassw{
                            margin-left: 15px;
                        }


                .linebt{
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    width: 25vw;
                    height: 10vh;
                }

                        .ButConf{
                            margin-right: 0px;
                        }

                        .linebt .btn{
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            width: 15vw;
                            padding-top: 13px;
                            margin-right: 0px;
                        }

                        .imgconf{
                            width: 30px;
                            height: 25px;
                        }

.fa-eye-slash{
    font-size: 24px;
    margin-left: 15px;
    margin-top: 37px;
    cursor: pointer;
    color: black;
}





