
.ContAgendar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.backg{
    background-image: url('../../Assets/Wallpapers/dental2.jpg');
    background-size: 40vw;
}

a:link{
    text-decoration: none;
}


.BodyC{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95vw;
    height: 90vh;
    margin-top: 60px;
    border-radius: 10px;
}

    
        .TtAgend{
            display: flex;
            flex-direction: row;
            width: 92vw;
            height: 15vh;         
        }
                .TtAgend h1{
                    margin-left: 15px;
                    margin-left: 350px;
                }

                .IconBackC{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 5.5vw;
                    height: 11.7vh;
                    color: white;
                    background-color: #007bff;
                    margin-left: 20px;
                    border-radius: 50%;
                    border-width: 10px;
                }

                .IconBackC:hover{
                    color: #007bff;
                    background-color: white;
                }

    
    .BodyAgend{
        display: flex;
        flex-direction: row;
        width: 92vw;
        height: 60vh;
    }


        .BoxAgend{
            display: flex;
            flex-direction: column;
            width: 40vw;
            height: 55vh;
            margin-left: 20px;
        }


                .lineAgend1{
                    display: flex;
                    color: #9e2f2f;
                    margin-top: 15px;
                }

                .lineAgend2{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    width: 45vw;
                    height: 15vh;
                }

                                .formHour{
                                    margin-left: 98px;
                                }

                        .lineAgend3{
                            display: flex;
                            flex-direction: row;
                            width: 60vw;
                            height: 15vh;
                        }


                                .formServ{
                                    width: 17.5vw;
                                }

                                .formProf{
                                    margin-left: 50px;
                                }


        .BoxPagmt{
            display: flex;
            flex-direction: column;
            width: 50vw;
            height: 55vh;
            margin-left: 5px;
            background-color: rgb(113, 165, 224);
            border-radius: 10px;
            color: rgb(28, 51, 38);                                        
            box-shadow: 1px 3px 25px 1px #888888;
        }

                .BoxPagmt h2{
                    width: 30vw;
                    height: 6vh;
                    margin-left: 40px;
                    margin-top: 15px;
                }

                .linePagm1{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-evenly;
                    width: 49.8vw;
                    height: 12vh;
                }

                        .formPagm{
                            display: flex;
                            flex-direction: column;
                            width: 28vw;
                            margin-left: 40px;
                        }

                                .radPag{
                                    width: 20vw;
                                }

                                .formParc{
                                    width: 25vw;
                                }

                                        .formParc input{
                                            margin-left: 20px;
                                        }
                
                .linePagm2{
                    display: flex;                    
                    justify-content: space-evenly;
                    width: 49.8vw;
                    height: 12vh;
                    margin-top: 10px;
                }

                        .formDesc{
                            width: 10vw;
                            margin-right: 45px;
                        }

                                .totalPorMesAgendar{
                                    width: 12vw;
                                    color: black;
                                }

                                .qtdParc{
                                    width: 10vw;
                                }

                        .formSub{
                            width: 12vw;
                            margin-left: 40px;
                        }

                        .formTot{
                            width: 12vw;
                            margin-left: 30px;
                        }
                    

                .linePagm3{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 49.8vw;
                    height: 13vh;
                    margin-top: 30px;
                }



                        .ButtPag{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 20vw;
                            height: 12vh;
                        }

                        .btnCad{
                            display: flex;
                            align-items: center;
                            width: 15vw;
                            height: 8vh;
                        }

                        .btnCad h4{
                            margin-left: 15px;
                        }


                        .btnCad img{
                            width: 10vw;
                            height: 6vh;
                            margin-left: -25px;
                        }







                        