
.ContAgendar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 145vh;
}

.backg{
    background-image: url('../../Assets/Wallpapers/dental2.jpg');
    background-size: 30vw;
}

.TtLogo{
    display: flex;
    align-items: center;
    height: 10vh;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 5px;
}


.BodyAgend{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    height: 125vh;
    background-color: white;
    border-radius: 10px;
}

    


        .TtAgend{
            display: flex;
            flex-direction: column;    
            align-items: center;
            justify-content: center;
            width: 85vw;
            height: 20vh;
            margin-top: 30px;            
        }
                .TtAgend h1{
                    margin-left: 15px;
                }

                .TtAgend img{
                    width: 6vw;
                    height: 13vh;
                    margin-left: 20px;
                    transform: rotate(-12deg);
                }

                .TtAgend h4{                    
                    height: 30vh;
                    color: rgb(216, 51, 51);
                    margin-right: 140px;
                    margin-top: 20px;
                }


        .BoxAgend{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 50px;
            margin-top: 10px;
        }


                .lineAgend1{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    width: 35vw;
                    height: 15vh;
                }





                .lineAgend2{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 60vw;
                    height: 15vh;
                }


                        .formServ{
                            margin-left: 30px;
                        }

                        .formProf{
                            margin-left: 100px;
                        }

        .BoxPagmt{
            display: flex;
            flex-direction: column;
            width: 40vw;
            height: 55vh;
            margin-left: 10px;
            margin-top: 30px;
        }

                .linePag1{
                    display: flex;
                    height: 10vh;
                    margin-bottom: 10px;
                }

                        .formPagm{
                            display: flex;
                            flex-direction: column;
                            width: 30vw;
                        }

                                .radPag{
                                    display: flex;
                                }

                                        .radPag h5{
                                            margin-left: 5px;
                                        }

                                        .cart{
                                            margin-left: 15px;
                                        }

                                        .radPag input{
                                            margin-top: 7px; 
                                        }

                
                .linePag2{
                    display: flex;
                    height: 12vh;
                    margin-top: 40px;
                }

                        .formParc{
                            width: 20vw;
                        }

                                .qtdParc{
                                    width: 10vw;
                                }

                        .formSub{
                            width: 10vw;
                            margin-left: 30px;
                        }


                .linePagm3{
                    display: flex;
                    width: 55vw;
                    height: 12vh;
                    margin-top: 15px;
                }

                        .formDesc{
                            width: 10vw;
                        }

                        .formTot{
                            width: 12vw;
                            margin-left: 165px;
                        }


                        .ButtPag{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 15vw;
                            height: 12vh;
                            margin-left: 50px;
                            margin-top: 15px;
                        }

                        .btnCad{
                            height: 8vh;
                        }



                        