
.ContAgendar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 140vh;
    background-image: linear-gradient(47deg,rgb(46, 143, 223),rgb(238, 243, 248));
}

.TtLogo{
    display: flex;
    align-items: center;
    color: white;
    font-weight: bolder;
    margin-top: 15px;
    margin-bottom: 15px;
}

.BodyAgend{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    height: 120vh;
    background-color: white;
    border-radius: 20px;
}


        .TtAgend{
            display: flex;
            flex-direction: column;    
            align-items: center;
            justify-content: center;
            width: 85vw;
            height: 20vh;
            margin-top: 20px;            
        }

                .TtAgend img{
                    width: 6vw;
                    height: 13vh;
                    margin-left: 20px;
                    transform: rotate(-12deg);
                }

                .TtAgend h4{
                    
                    height: 30vh;
                    margin-right: 90px;
                }


        .BoxAgend{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
        }


                .lineAgend1{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    width: 35vw;
                    height: 15vh;
                }





                .lineAgend2{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 60vw;
                    height: 15vh;
                }


                        .formServ{
                            margin-left: 30px;
                        }

                        .formProf{
                            margin-left: 100px;
                        }

        .BoxPagmt{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 60vw;
            height: 55vh;
        }


                .linePag1{
                    display: inline;
                }


