
.footre{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 10vw;
    background-image: linear-gradient(to right,rgb(85, 109, 129),rgb(224, 234, 243));
    color: white;
}