
.foot{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 10vh;
    min-width: 100vw;
    max-width: 100vw;
    background-image: linear-gradient(to right,rgb(46, 143, 223),rgb(224, 234, 243));
    color: white;
}