.fundoAgen{
    background-color:white;
}

.bodyVerAgendadosFunc{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.starDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 99%;
    margin-left: 1%;
}

.starDiv > input {
    width: 150px;
}

.h3star{
    text-align: left;
    width: 99%;
    margin-left: 1%;
}

.hOndeAgen{
    font-size: 30px;
    font-weight: 600;
}

.hTwoAgen{
    
    font-size: 25px;
    font-weight: 700;
}


.AgenOne{
    display: flex;
    flex-direction: column;
    align-items: center;
  
    
    
}

.espec{

    width: 200px;
}


.iconSearch{
    color: slategrey;
    margin-top: -16px;
}

.iconSearch:hover{

    color: white;

}

.btn_agendadosFunc{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
}