.fundoAgen{
    background-color:white;
}



.bodyVerAgendadosFunc{
    min-height: 82vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.backVoltarTwo {

    width: 80vw;
}

.starDiv{
    display: flex;
    justify-content: space-between;
    width: 97%;
    align-items: center;
    margin-bottom: 4vh;
    margin-left: 3vw;
}

/*form's */

 .formONeee {
    width: 25vw;
    
}

.formTwo{
    width: 15vw;
}

.espec{

    width: 10vw;
    
}

.formTheerDate{
    
    width:12vw;
}

.formFourTime{

    width: 10vw;
}

.situcionForm{
    width: 11vw;
}

/* */

.h3star{
    text-align: left;
    width: 99%;
    margin-left: 1%;
    margin-top: 6vh;
}

.hOndeAgen{
    font-size: 30px;
    font-weight: 600;
}

.hTwoAgen{
    
    font-size: 25px;
    font-weight: 700;
}


.AgenOne{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vh;
  
    
    
}


.iconSearch{
    color: slategrey;
    margin-top: -16px;
}

.iconSearch:hover{

    color: white;

}

.btn_agendadosFunc{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
}

.VerFeedOne {
    height: 80%;
    background-color: rgb(243, 243, 243);
    display: flex;
    flex-direction: column;
    width: 70vw;
    align-items: center;
    border-radius: 10px;

}

.h2VerFeed {
    display: flex;
    justify-content: center;
    color: #009FE5;
    margin-right: 8vw;
    margin-top: 10px;
}

.Back999 {
    margin-left: 10vw;
    margin-bottom: 5vh;
}


.VerFeedTwo {
    background-color: #9BC5D8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 50vh;

    border-radius: 10px;
}
.VerFeedTheer {
    background-color: #009FE5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
    width: 50%;
    border-radius: 10px;
}

.Aval {
    color: rgb(199, 169, 0);
    font-size: 55px;
    padding-top: 4vh;

}

.Aval:hover {
    color: #ffd900;
    cursor: pointer;

}
.starzinnn {
    color: rgb(199, 169, 0);
    font-size: 65px;
    cursor: pointer;

}

.starzinnn:hover {
    color: #ffd900;
}

.inputVer {
    width: 70%;
}


.back100 {
    color: #009FE5;
    cursor: pointer;
    margin-right: 70vw;
}

.back100:hover {
    color: #ffd900;
}

.completoVerFeed {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100%;
    position: fixed;
    background-color: rgba(85, 85, 85, 0.61);
}
