.fundoMil{
    
    display: flex;
    background-color: #ffffff;
    color: white;
    flex-direction: column;
    height: 100vh;


}

.divTwoMil{
    background-color:  rgb(58, 58, 58);
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-tooth{
    color: rgb(255, 255, 255);
    
}

.theerMil{
   
    background-color: white;
    margin-top: 5vh;

   

}

.pCenter{

margin-left: 20vh;
}


.titulosobre{

    display: flex;
    justify-content: center;
    color: rgb(18, 46, 124) ;
    
}

.ttt{
    color: white;
}

.ttt:hover{

    color: white;

}