.fundoMil{
    
    display: flex;
    background-color: #ffffff;
    color: white;
    flex-direction: column;
    height: 100vh;


}

.divTwoMil{
    background-color:  rgb(58, 58, 58);
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-tooth{
    color: rgb(255, 255, 255);
    
}

.theerMil{
   
    background-color: white;
    margin-left: 20vh;
    margin-right: 20vh;
    text-align: center;
    margin-top: 5vh;
    width: 80%;
    height: 80vh;
   

}

.titulosobre{

    color: rgb(18, 46, 124) ;
}

.ttt{
    color: white;
}

.ttt:hover{

    color: white;

}