.fundoMil{
    
    display: flex;
    
    color: white;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    


}

.divTwoMil{
    background-color:  rgb(58, 58, 58);
    display: flex;
    padding-left: 20vh;
    align-items: center;
    
}

.fa-tooth{
    color: rgb(255, 255, 255);
    
}

.theerMil{
   
    background-color: white;
    

   

}

.pCenter{

padding-left: 20vh;
padding-right: 20vh;

}


.titulosobre{

    display: flex;
    padding-left: 20vh;
    color: rgb(18, 46, 124) ;
    font-weight: 700;
    
    
    
}

.ttt{
    color: white;
}

.ttt:hover{

    color: white;

}

.rodapésob{
    background-color:rgb(0, 0, 0) ;
    font-size: 20px;
    display: flex;
    justify-content: center;
    font-weight: 600;
    
}

.rodapezinnn{
    color: #ffffff;
}