body{
    margin: 0px;
    padding:0px;
}

*{
    box-sizing: border-box;
}

.Contre{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 110vh;
}



.bodyre{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 98.7vw;
    height: 90vh;
}

        .boxre{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 60vw;
            height: 60vh;
            background-color: rgb(70, 102, 128);
            border-radius: 15px;
        }



                .titlere{
                    color: white;
                }

                .infore{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    height: 40vh;
                    margin-top: 20px;
                }

                        label{
                            color: white;
                            margin-top: 25px;
                        }


                        .date{
                            border-radius: 10px;
                            height: 5vh;
                            margin-right: 40px;
                        }

                        .chosehour{
                            margin-right: 50px;
                        }

                        .time{
                            border-radius: 10px;
                            width: 10vw;
                            height: 5vh;
                            margin-right: 75px;
                        }

        .btsre{
            display: flex;
            justify-content: space-between;
            width: 40vw;
            margin-top: 5px;
        }

                .btn{
                    width: 10vw;
                    
                }
